body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0px 0px;
  line-height: 1.5;
  color: #566b78;
  min-height: 100vh;
  position: relative;
}

h6 {
  font-size: 15px;
}

p {
  margin: 0px;
  font-size: 14px;
}

h1,
h2,
h4,
strong {
  color: #333;
  letter-spacing: 0.5px;

}

a {
  color: #e81c4f;
}

h4 a{
  color :#333;
  text-decoration: none;
}

.mobile-only {
  display: block;
}

.hide-mobile {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-separator{
  height: 1px;
  background-color:#ddd;
  margin: 0 auto;
  margin-bottom:1em;
  width:100%;
}

/* Body Styles */
.body {
  margin: 0 auto;
  padding-top: 1.5em;
}

.body .body-content {
  margin: 0 auto;
  width: 90%;
}

.body h2{
  margin-bottom: 6px;
  margin-top: 0;
}

.body p{
  margin:1em 0px;
}

.body-inverse {
  background-color: #1b2435;
}

.body-inverse p {
  color : #DDD;
}

.body-inverse h2, .body-inverse h3, .body-inverse h4, .body-inverse h6 {
  color: #FFF;
}


/* Header Styles */
#header {
  text-align: center;
  background-image: url(assets/scenicbg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-color:transparent;
  height:35vh;
  color:white;
  width:100%;
}

#header h2{
  color:white;
  margin: 0;
}

#header-tint{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position:absolute;
  top:0;
  height:inherit;
}

#alterable-subtitle {
  color : #DDD;
  font-size: 15px; 
}

/* About Me Styles */
#about-me {
  margin-bottom: 2em;
}

#about-image-desktop {
  display:none;
}

#about-image-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-image-mobile img, #about-image-desktop img {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin: 0em;
  margin-bottom: 0.5em;
}


/* Menu Styles */
#menu {
  margin-bottom: 10px;
}

#menu div {
  display: flex;
  justify-content: center;
}

#menu a{
  color: #566b78;
  margin: 0rem 0.5rem;
}

#menu a:hover{
  color: #e81c4f;
}

#menu a:active{
  color: #e81c4f;
}

/* Work Experience Styles */
#work-experience, #project-history {
  display:flex;
  flex-direction:column;
}

#project-history {
  justify-content: space-between;
}

.content-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}

.content-block h3, .content-block h6 {
  margin: 0;
}

.content-block h3 {
  line-height : 1.2;
}

.company-name a {
  text-decoration: none;
  color: #FFF;
}

.company-logo-wrapper {
  display: flex;
}

.company-logo {
  height: 100%;
  width: min-content;
  margin: 0 auto;
  margin-bottom: 1em;
}

.company-logo img {
  height: 15vh;
}

.company-tenure {
  float: right;
  font-weight: lighter;
  font-size: 12px;
  padding-top: 3px;
}

#telus-logo img {
  height: 15vh;
}

/* Project Section Styles */
.project-image {
  width: 100%;
  object-fit: cover;
  max-height : 40vh;
  height: unset;
  margin-bottom: 0.5em;
}

#mobility-ai-logo {
  margin-bottom: 0;
}

#project-history .content-block {
  margin-bottom: 1em;
}

#project-history .content-block p {
  margin-top: 0.5em;
}

#project-history .content-block a {
  color: #cf1543;
}

/* Tablet styles */
@media only screen and (min-width: 600px) {
  body {
    font-size: 18px;
    line-height: 1.5;
  }

  h6 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }

  .body .body-content {
    margin: 0 auto;
    width: 95%;
  }

  #header {
    height:40vh;
  }

  #about-me .body-content {
    display: flex;
    justify-content: space-between;
  }

  #about-image-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    margin-left: 0;
  }

  #about-image-mobile {
    display:none;
  }

  .content-block {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
  }

  .company-logo-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .company-logo {
    width: unset;
    margin-bottom: 0;
    height: auto;
    max-height: unset;
  }

  .company-logo--left {
    margin: 0 2em 0 1em;
  }
  
  #telus-logo img {
    height: 10vh;
  }

  #telus-block {
    flex-direction: row-reverse;
  }

  #project-history {
    flex-direction: row;
  }

  #project-history .content-block {
    flex-direction: column;
    width: 30%;
  }

  #project-history .content-block-body {
    text-align: center;
    padding: 0 1em;
  }

  .project-image {
    height: 20vh;
  }

  #project-history {
    padding-bottom: 1em;
  }
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
  body {
    font-size: 22px;
    line-height: 1.5;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  #header {
    height: 45vh;
  }

  .project-image {
    height: 30vh;
  }

  .company-tenure {
    font-size: 14px;
    padding-top: 4px;
  }


  #alterable-subtitle {
    font-size: 18px;
  }

}
