body {
  font-family: 'Roboto', sans-serif;
  font-size:26px;
  margin: 0px 0px;
  line-height: 1.5;
  color: #566b78;
  min-height: 100vh;
  position: relative;
}

p {
  margin: 0px;
  font-size:0.55em;
}

h1,
h2,
h4,
strong {
  color: #333;
  letter-spacing: 0.5px;
}

a {
  color: #e81c4f;
}

h4 a{
  color :#333;
  text-decoration: none;
}

#header{
  text-align: center;
  background-image: url(scenicbg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-color:transparent;
  height:12em;
  color:white;
  width:100%;
}

#header #menu-bar{
  width:100%;
  height:10%;
}

#header #menu-bar .button-group{
  text-align: center;
}

#header #menu-bar a{
  color:white;
}

#header #menu-bar i{
  color:white;
}

#header p{
  font-size: 20px;
}

#header h2{
  color:white;
  padding-top:1.5em;
  margin-bottom: 0px;
}

#header-tint{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position:absolute;
  top:0;
  height:inherit;
}

.menu {
  position:absolute;
  bottom:10px;
  left: 0;
  right: 0;
}

.menu-box {
  display: flex;
  justify-content: center;
}

.menu a{
  color: #566b78;
  margin: 0rem 0.5rem;
}

.menu a:hover{
  color: #e81c4f;
}

.menu a:active{
  color: #e81c4f;
}

#body{
  margin: 0 auto;
  margin-bottom: calc(1.83em + 10px);
  display: inline-block;
  width:100%;
}

#body h2{
  margin-left:2px;
  margin-bottom:10px;
}

#body p{
  margin-left:2px;
  margin:1em 0px;
}

#body .body-container{
  min-height:14em;
  margin:0 auto;
  width: 90%;
}

#body #project-body{
  text-align: center;
}

#body #project-view .project{ 
  vertical-align: top;
  display:inline-block !important;
  width:12em;
  height: 10em;
  margin-bottom: 1.5em;
  display:grid;
}

#body #project-view .project:nth-child(2){ 
  margin-bottom:0;
}

#body #project-view .project img{
  width: 8em;
  height: 5em;
}

#body #project-view .project h4{
  margin: 0px 0px;
}

#body #project-view .project p{
  height: 2em;
}

#body #contact-menu{
  padding-left: 1.5em;
  font-size:21px;
}

#body #contact-menu div{
  margin-bottom:1.5em;
}

#body #contact-menu i{
  color: #566b78;
}

#body #contact-menu a{
  margin-left: 20px;
  text-decoration: none;
  color: #566b78;
}

#body #contact-menu a:hover{
  color: #e81c4f;
}

.line-separator{
  height: 1px;
  background-color:#ddd;
  margin: 0 auto;
  margin-bottom:1em;
  width:100%;
}